/* 
font-family: 'Kanit', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Source Code Pro', monospace;
*/

body,
html {
  font-family: "Poppins", sans-serif !important;
  scroll-behavior: smooth !important;
  padding: 0 !important;
  margin: 0 !important;
}

#app {
  min-height: 100vh !important;
  background-color: whitesmoke !important;
}
