{% extends 'base.html' %}

<!-- title -->
{% block title %} About {% endblock %}
<!-- title -->

<!-- app -->
{% block app %}
<!-- navbar -->
{% include 'navbar.html' %}
<!-- navbar -->

<div class="container py-5 app">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h1>About Todo App</h1>
    <a
      href="https://github.com/LoisaKitakaya/Flask-To-do"
      class="btn btn-dark btn-sm"
      ><i class="bi bi-github"></i> Source code</a
    >
  </div>
  <!-- about content -->
  <!-- about content -->
</div>

<!-- footer -->
{% include 'footer.html' %}
<!-- footer -->
{% endblock %}
<!-- app -->
