{% extends 'base.html' %}

<!-- title -->
{% block title %} About {% endblock %}
<!-- title -->

<!-- app -->
{% block app %}
<!-- navbar -->
{% include 'navbar.html' %}
<!-- navbar -->

<div class="container py-5 app">
  <div class="d-flex align-items-center justify-content-between mb-5">
    <h1>About Todo App</h1>
    <a
      href="https://github.com/LoisaKitakaya/Flask-To-do"
      class="btn btn-dark btn-sm"
      ><i class="bi bi-github"></i> Source code</a
    >
  </div>
  <!-- about content -->
  <div class="card shadow-sm text-bg-light">
    <div class="card-body">
      <p class="mb-3">
        Welcome to <span class="fw-semibold">Todo App</span>. As the name
        suggests, this is an application that helps you record tasks you
        have/want to do. This way you have somewhere where you can reference for
        your planned activities, thus boosting your productivity.
      </p>
      <p class="mb-3">
        <span class="fw-semibold">Todo App</span> is built using
        <a href="https://palletsprojects.com/p/flask/">Flask</a>, a
        <a href="http://python.org/">Python</a> web framework. The Frontend is
        mostly <a href="https://getbootstrap.com/">Bootstrap</a> with some
        little custom styling.
      </p>
      <p class="mb-3">
        The motivation to build this application is actually for personal use.
        But feel free to use it if you want to. There are no ads or promotions
        here. Simply create an account and start enjoying the app.
      </p>
      <p class="mb-3">
        For any suggestions, comments, or complaints, please submit an issue
        <a href="https://github.com/LoisaKitakaya/Flask-To-do/issues">here</a>.
        If you do not have a Github account, you can email me at
        <a href="mailto:kitakayaloisa@gmail.com">kitakayaloisa@gmail.com</a>.
      </p>
      <p class="mb-3">
        Also, if you wish to contribute to this project, you will be pleased
        to know that it is open source. So all you need to do is simply make a
        <a href="https://github.com/LoisaKitakaya/Flask-To-do/pulls"
          >pull request</a
        >
        to the app repository on Github.
      </p>
    </div>
  </div>
  <!-- about content -->
</div>

<!-- footer -->
{% include 'footer.html' %}
<!-- footer -->
{% endblock %}
<!-- app -->
