{% extends 'base.html' %}

<!-- title -->
{% block title %} Home {% endblock %}
<!-- title -->

<!-- app -->
{% block app %}
<!-- navbar -->
{% include 'navbar.html' %}
<!-- navbar -->

<div class="container py-5 app">
  <!-- flash -->
  <div class="mb-3">{% include 'flash.html' %}</div>
  <!-- flash -->
  <div class="d-flex align-items-center justify-content-between mb-5">
    <h1>Your Todo List</h1>
    <button
      class="btn btn-primary btn-sm"
      data-bs-toggle="modal"
      data-bs-target="#addTaskModal"
    >
      <i class="bi bi-calendar2-plus-fill"></i> Add task
    </button>
  </div>
  <!-- table -->
  {% include 'table.html' %}
  <!-- table -->
</div>

<!-- add task modal -->
{% include 'addtask.html' %}
<!-- add task modal -->

<!-- footer -->
{% include 'footer.html' %}
<!-- footer -->
{% endblock %}
<!-- app -->
