<div class="table-responsive">
  <table class="table table-light table-hover shadow-sm">
    <thead class="table-dark">
      <tr>
        <th scope="col" class="table-number">#</th>
        <th scope="col">Todo</th>
        <th scope="col" class="table-header">Label</th>
        <th scope="col" class="table-header">Complete</th>
        <th scope="col" class="table-btn my-btn">Delete</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <th scope="row">1</th>
        <td>Lorem ipsum dolor sit amet.</td>
        <td class="table-header">
          <span class="rounded bg-home">Home</span>
        </td>
        <td class="table-header">
          <i class="bi bi-check-circle-fill text-success"></i>
        </td>
        <td class="table-btn my-btn">
          <i class="bi bi-trash text-danger"></i>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Lorem ipsum dolor sit amet.</td>
        <td class="table-header">
          <span class="rounded bg-personal">Personal</span>
        </td>
        <td class="table-header">
          <i class="bi bi-check-circle-fill text-success"></i>
        </td>
        <td class="table-btn my-btn">
          <i class="bi bi-trash text-danger"></i>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Lorem ipsum dolor sit amet.</td>
        <td class="table-header">
          <span class="rounded bg-urgent">Urgent</span>
        </td>
        <td class="table-header">
          <i class="bi bi-x-circle-fill text-warning"></i>
        </td>
        <td class="table-btn my-btn">
          <i class="bi bi-trash text-danger"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
